<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
</head>
<body>
{{if .username}}
    在线：{{.username}}
    <a href="/logout">退出登录</a>
{{else}}
    <a href="/login">登录</a>
    <a href="/register">注册</a>
    <a href="/reset">修改密码</a>
{{end}}
</body>
</html>